@import url(modern-normalize.css);

@font-face {
    font-family: Roboto;
    src: url(Fonts/Roboto-Regular.ttf);
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

/* sidebar coding */
#sidebar {
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    background-color: #3b82f6;
    user-select: none;
}

#sidebar-logo,
.sidebar-nav {
    color: white;
}

#sidebar-logo>img {
    width: 40px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

#sidebar-logo {
    cursor: default;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.sidebar-nav {
    line-height: 2.5;
}

.sidebar-nav>ul {
    list-style: none;
    padding-left: 20px;
}

.sidebar-nav>ul>li {
    display: flex;
    align-items: center;
}

.sidebar-nav>ul>li>img {
    width: 24px;
    margin-right: 20px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.sidebar-nav>ul>li>a {
    color: white;
    text-decoration: none;
}

/* header coding */
#header {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* top part of the header */
#top-header {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1fr;
    align-items: center;
    padding-bottom: 10px;
}

#top-header>div>img {
    width: 24px;
}

#top-header div input[type="search"] {
    border-radius: 10px;
    width: 100%;
    background-color: #d4d4d4;
    outline: none;
    border-style: none;
    padding: 5px 15px 5px 15px;
}

#top-header>div {
    display: flex;
}

#top-header-right {
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#bell {
    width: 24px;
    cursor: pointer;
}

.avatar-small {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar-small>img {
    width: 100%;
}

#top-header-name {
    font-size: 18px;
    font-weight: bold;
}

/* bottom part of the header */
#bottom-header {
    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr;
    align-items: center;
}

#bottom-header-username {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
}

#avatar-large {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
}

#avatar-large>img {
    width: 100%;
}

#usergreet {
    font-size: 15px;
    font-weight: bold;
}

#usergreet-two {
    font-size: 22px;
    font-weight: bold;
}

#bottom-header-buttons {
    grid-column: 3 / 4;
    display: flex;
    justify-content: space-evenly;
}

.header-btns {
    padding: 10px 30px 10px 30px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* main content coding */
#main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #d4d4d4;
    padding-bottom: 50px;
    box-shadow: inset 0 5px 5px rgba(115, 115, 115, 0.3);
}

#projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr (repeat(auto-fit, minmax(150px, 1fr)));
    grid-gap: 20px;
    padding: 0 20px 0 20px;
}

#projects-header {
    grid-column: 1 / 3;
    /* padding-top: 10px; *
    /* margin-top: -10px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#projects h3 {
    margin: 0;
}

.project-card {
    /* height: 170px; */
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(115, 115, 115, 0.3);
    border-left: 10px solid #fb923c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects-action-bar {
    align-self: flex-end;
    user-select: none;
}

.projects-action-bar>img {
    width: 24px;
    margin-left: 10px;
    cursor: pointer;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* announcements area */
#announcements {
    display: grid;
    grid-template-rows: 0.1fr 0.5fr;
}

#announcements-header {
    margin-bottom: -10px;
}

#announcement-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(115, 115, 115, 0.3);
}

#announcement-card h5 {
    margin: 0;
}

/* trending area */
#userlists {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 5px rgba(115, 115, 115, 0.3);
}

#trending-header {
    margin-bottom: -10px;
}

.treading-userlist {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.treading-userlist>.avatar-small {
    grid-row: 1 / 3;
}